<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div class="container my-5">
    <h2 class="text-center">Register</h2>
    <div class="card">
      <div class="card-body">
        <form id="registerForm" action="/register" method="POST">
          <div class="mb-3">
            <label for="registerUsername" class="form-label">Username</label>
            <input type="text" class="form-control" id="registerUsername" name="regUsername" required>
          </div>
          <div class="mb-3">
            <label for="registerEmail" class="form-label">Email</label>
            <input type="email" class="form-control" id="registerEmail" name="regEmail" required>
          </div>
          <div class="mb-3">
            <label for="registerPassword" class="form-label">Password</label>
            <input type="password" class="form-control" id="registerPassword" name="regPassword" required>
          </div>
          <button type="submit" class="btn btn-primary">Register</button>
          <div class="mt-3">
            <p>Already have an account? <a href="login.ejs">Login here</a></p>
          </div>
        </form>
      </div>
    </div>
  </div>

  
</body>
</html>
